body::before {
    filter: blur(5px) brightness(80%);
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    z-index: -1;
    background-image: url('../../img/miplaza-logo-bn.png');
    background-repeat: repeat;
    background-size: 200px;
    background-position: center;
    animation: aparecer 1.5s ease forwards, cambioDePosicion 30s linear infinite;
}

@keyframes aparecer {
    from {
        opacity: 0 !important;
    }

    to {
        opacity: 1 !important;
    }
}

@keyframes cambioDePosicion {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-100px, -100px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.backtittle {
    background: #5e9ee8;
}

.img-post {
    filter: brightness(70%) blur(5px);
    /* filter:  */
    /* Rota los colores en 90 grados */
}

#list-example .active {
    background: #70B34D !important;
    animation: aparecer 500ms;
    color: white !important;
    border: none !important;
}

#list-example .active:hover {
    background: #70B34D !important;
}

#list-example .active p {
    color: white !important;
}

#list-example a:hover {
    background: #71b34d13 !important;
        border: 1px solid #70B34D;
}
.list-nav:hover {
    background: #ffffffc2 !important;
}

.visible {
    animation: card 500ms forwards !important;
}

.asi1 {
    order: 1;
    height: 100vh;
}

.asi2 {
    order: 2;
    height: 100vh;
}

.sticky-element {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 50px;
    /* Punto en el que se vuelve pegajoso */
}

.lorem {
    text-decoration: underline;
}

@keyframes card {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        color: rgba(0, 0, 0, 0.438);
    }
}

@media (max-width : 992.9px) {

    .asi1,
    .asi2 {
        order: 0;
        height: 50vh;
        margin-bottom: 50px;
    }

    .sticky-element {
        position: -webkit-static;
        /* Safari */
        position: static;
    }

    .card-float,
    .tittle,
    .descripcion {
        margin: 0 auto;
        width: 75%;
    }

    .card-float {
        padding-bottom: 0 !important;
    }

    .lorem, .fondo{
        display: none !important;
    }
}

@media (max-width:576.9px) {

    .card-float,
    .tittle,
    .descripcion {
        width: 100%;
    }

    .conteiner {
        height: 140vh !important;
    }

    .asi1,
    .asi2 {
        height: 70vh;
    }
}