#list-example .list-group-item p {
    transform: rotate(-90deg) !important;
}

#list-example .active {
    background: #74b050 !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

#list-example .active:focus {
    background: #74b050 !important;
}

#list-example {
    width: 70px !important;
    height: 100% !important;
    min-height: 700px !important;
}

.list-jods,
#list,
.conteiner {
    height: calc(100vh - 98px) !important;
}

.list-jods::-webkit-scrollbar,
#list::-webkit-scrollbar {
    display: none !important;
}

.list-jods {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.aside1,
.aside2 {
    height: 100% !important;
}
.tittle, .card-float{
    margin: 0 auto !important;
}

@media (max-width: 1200px) {/*BreakPoint lg*/
    #list {
        width: 100% !important;
        height: fit-content !important;
    }

    #list-example .list-group-item p {
        transform: rotate(0) !important;
    }

    #list-example {
        min-width: 700px !important;
        width: 100% !important;
        flex-direction: row !important;
    }

    .list-group-item {
        height: 50px !important;
    }

    .list-jods {
        overflow-x: auto !important;
        overflow-y: hidden !important;
        height: 50px !important;
    }
    .aside1,
    .aside2 {
        height: 50% !important;
    }
    .tittle, .card-float{
        width: 75% !important;
    }
}
@media (max-width: 768px) {/*BreakPoint md*/
    .tittle, .card-float{
        width: 75% !important;
    }
}
@media (max-width: 576px) {/*BreakPoint md*/
    .tittle, .card-float{
        width: 100% !important;
    }
}