.card1 {
    width: 100%;
    height: 500px;
    background: #ffffff;
    padding: 5%;
}

.cabeza {
    text-align: center;
    color: #2e2e2e;
    font-size: 35px;
    font-weight: 700;
    padding: 10px 0 25px;
}

.rededor-nrj {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: #000000f1 solid 1px;
    padding: 10spx;
}

.tabla-MVV {
    width: 100%;
}

.col-30 {
    width: 33.3%;
}

.icono-MVV {
    height: 15%;
    margin: 50px 0;
}

.circulo1 {
    border-radius: 50%;
    background: #487331;
    width: 170px;
    aspect-ratio: 1 / 1;
}

.circulo2 {
    border-radius: 50%;
    background: #ffffff;
    width: 80%;
    aspect-ratio: 1 / 1;
}

.circulo3 {
    border-radius: 50%;
    background: #70B34D;
    width: 95%;
    aspect-ratio: 1 / 1;
    box-shadow: #36363691 0px 0px 20px;
}

.parrafo-sub {
    font-size: 15px;
    margin: 0 auto;
    width: 70%;
    color: #2e2e2e;
    font-weight: 380;
}
.parrafo {
    padding: 20px 0;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
}


.circulo3 img {
    width: 80%;
}
.bg-btn{
    width: 35px;
    background: #FB9936;
    border-radius: 10px;
    aspect-ratio: 1/2;
}
@media (max-width: 1000px) {
    .circulo1 {
        width: 100px;
        aspect-ratio: 1 / 1;
    }
    .icono-MVV {
        height: 15%;
        margin: 15px 0;
    }
    .bg-btn{
        width: 30px;
        border-radius: 5px;
    }
    .card1{
    height: 400px;
    }
}